:root {
  --color-background: #263343;
  --color-highlight: #d49466;
  --color-text: white;
}

.number {
  display: inline-block;
  background: #aaa;
  color: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  line-height: 100px;
  font-size: 64px;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
}

.numset {
  text-align: center;
  padding: 10px;
}

body {
  background-color: gray;
  margin: 0px;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-background);
}

.navbar__logo {
  display: flex;
  padding: 8px 12px;
}

.navbar__logo i {
  font-size: 24px;
  color: var(--color-highlight);
}

.navbar__logo div {
  padding: 8px;
}

.navbar__menu {
  display: flex;
  padding-left: 0px;
}

.navbar__menu li {
  padding: 8px 24px;
  list-style: none;
}

.navbar__icons {
  display: flex;
  padding-left: 0px;
}

.navbar__icons li {
  padding: 8px 12px;
  list-style: none;
  font-size: 24px;
}

.navbar__icons a {
  color: var(--color-highlight);
}
